.nav-con{
    position: fixed;
    left: 0%;
    bottom: 30px;
}

.nav-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navcard-parent{
    background: black;
    width: min-content;
    border-radius: 30px;
    column-gap: 20px;
    padding: 10px 30px;
    transition: .4s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(255, 255, 255) 0px 0px 20px;
}
.navcard-parent:hover{
    padding: 10px 50px;
    transition: .4s;

}
.nav-card{
    transition: .4s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

}

.nav-card:hover{
    margin-left: 10px;
    margin-right: 10px;
    transition: .4s;
}

.lang-btn{
    background: transparent;
    border: 0;
    padding: 0;
}

.active-lang{
    display: block!important;
}


.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.nav-card:hover .tooltip {
    opacity: 1;
    visibility: visible;
}