.nav-con{
    position: fixed;
    left: 0%;
    bottom: 30px;
}

.nav-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navcard-parent{
    background: black;
    width: min-content;
    border-radius: 30px;
    column-gap: 20px;
    padding: 10px 30px;
    transition: .4s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(255, 255, 255) 0px 0px 20px;
}
.navcard-parent:hover{
    padding: 10px 50px;
    transition: .4s;

}
.nav-card{
    transition: .4s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

}

.nav-card:hover{
    margin-left: 10px;
    margin-right: 10px;
    transition: .4s;
}

.lang-btn{
    background: transparent;
    border: 0;
    padding: 0;
}

.active-lang{
    display: block!important;
}


.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.nav-card:hover .tooltip {
    opacity: 1;
    visibility: visible;
}


.my-notes-process-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    z-index: 100;
}

.my-notes-process-see{
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    padding: 5px 10px;
    background: #5d5c5c;
    transition: .4s;
    z-index: 101!important;
    display: block;
}

.my-notes-process-bin{
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background: #5d5c5c;
    padding: 0 10px;
    transition: .4s;
    z-index: 101!important;

}

.my-notes-process-bin:hover{
    transform: scale(1.05);
    transition: .4s;
}


.my-notes-process-see:hover{
    transform: scale(1.05);
    transition: .4s;
}

.folder-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 50px;
    row-gap: 50px;
    padding: 30px;
    flex-wrap: wrap;

}

.add-folder-btn{
    position: absolute;
    top: 50px;
    bottom: unset;
    right: 2%;
    width: fit-content!important;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    transition: .4s;
}

.add-folder-btn:hover{
    transition: .4s;
    transform: scale(1.1);
}




.folder-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    background: transparent;
    border: none;
    transition: .4s;
}

.folder-card:hover{
    transform: scale(1.1);
    transition: .4s;
}

.folder-name{
    font-size: 20px;
    font-weight: bold;
}

.folder-queantity{
    font-size: 14px;
    font-weight: bold;
}

.color-swatch:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}


@media only screen and (max-width: 1000px) {
    .folder-row{
        justify-content: center;
    }
}

