.blog-card{
    mib-height:500px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    transition: .4s;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 20px;
    overflow: hidden;
    row-gap: 20px;
    transition: .4s;
    align-items: center;
    justify-content: space-between;
}

.blog-card:hover{
    box-shadow: 0 0px 16px 5px rgb(255, 255, 255);
    transition: .4s;
}

.blog-card:hover .blog-card-img{
    transform: scale(1.1);
    transition: .4s;
}

.blog-card-img{
    height: 200px;
    object-fit: cover;
    transition: .4s;
    width: 100%;
}

.blog-card-desc{
    width: 90%;
    word-break: break-all;
    max-height: 200px;
    overflow: hidden;
}

.createdBy{
    text-align: start!important;
    color: #808080;
}

@media (max-width: 800px){
    .blog-card{
        min-height: 500px;
        transition: .4s;
    }

    .blog-card-img{
        height: 250px;
    }
}

