.main-page-parent-con{
    background: #000;
    overflow: hidden;
    min-height: 100vh;
    margin: 0!important;
}

*{
    color: #fff;

}

.w-full-100{
    width: 100%!important;

}

.titles{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-wrap: wrap;
    animation: fadeIn .9s ease-in-out;
}


.normal-text{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    word-wrap: break-word;
    width: 100%;
}

.personal-image{
    border-radius: 300px;
    box-shadow: rgb(255, 255, 255) 0px 0px 20px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    animation: fadeIn .9s ease-in-out;

}



.right-animation-item{
    animation: slideRight .6s linear;
}

.left-animation-item{
    animation: slideLeft .6s linear;
}

.animation-item-right{
    animation: slide-in .9s alternate;
}

.animation-item-bottom{
    animation: slide-bottom .9s alternate;
}


.edu-card{
    color: #fff;
    min-height: 50px;
    line-height: 50px;
    border-radius: 10px;
    box-shadow: rgb(255, 255, 255) 0px 0px 29px 0px;

}


.skills-con{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.skill-card{
    color:#000000;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: .4s;
    cursor: default;
    min-height: fit-content;
    text-wrap: wrap;
    word-break: break-all;
    max-width: 200px;
}

.skill-card:hover{
    background: #000;
    color: #ffffff;
    transition: .4s;
    box-shadow: rgb(255, 255, 255) 0px 0px 29px 0px;
}

.project-card{
    border: 1px solid #ffffff;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.project-card-img{
    height: 200px;
    object-fit: cover;
}

.project-visit-btn{
    background: #000;
    color: #fff;
    text-decoration: none;
    position: relative;
    margin-left: 5px;
}

.project-card-skills{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.project-skill-card{
    border: 1px solid #fff;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: default;
    transition: .4s;

}

.project-visit-btn:after{
    content: '->';
    position: absolute;
    top: 0;
    right: 120px;
    color: #ffffff;
    opacity: 0;
    transition: .4s;

}

.project-visit-btn:hover:after{
    opacity: 1;
    right: 80px;
    transition: .4s;
}

.project-skill-card:hover{
    background: #fff;
    color: #000;
    transition: .4s;
}

.main-projects-desc{
    font-size: 16px;

}

@media (max-width: 800px){

    .titles{
        font-size: 28px;
        width: 100%;
        text-align: center;

    }

    .skills-con{
        display: flex;
        flex-direction: row;
        row-gap: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}




@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


@keyframes slideRight {
    0% {
        transform: translateX(100%) rotate(180deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0%)  rotate(360deg) ;
        opacity: 1;
    }
}


@keyframes slide-in {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}


@keyframes slide-bottom {
    from {
        translate: 0 150vw;
        scale: 100% 1;
    }

    to {
        translate: 0 0;
        scale: 200% 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}